.puzzle-container {
  padding: 20px;
  background-color: #fff;
  height: 300px;
  width: 350px;
  margin: 0 auto;
  border-radius: 10;
  position: relative;
  box-sizing: content-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.puzzle-container .loading {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  filter: opacity(0.5);
}
.puzzle-container .loading::after {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  content: '';
  color: #1991FA;
  margin: auto;
  border: 5px rgba(0, 0, 0, 0) solid;
  border-left-color: #ff5500;
  border-right-color:#0c80fe;
  border-radius: 100%;
  animation: loading1 1s infinite linear;
}

@keyframes loading1 {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

.puzzle-block {
  position: absolute;
  left: 10px;
  top: 0;
}
 
.puzzle-slider-container {
  position: relative;
  text-align: center;
  width: 350px;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  background: #f7f9fa;
  color: #45494c;
  /* border: 1px solid #e4e7eb; */
}
.puzzle-slider-container.inactive {
  pointer-events: none;
}
 
.puzzle-slider-success .puzzle-slider {
  height: 38px;
  top: -1px;
  border: 1px solid #52CCBA;
  background-color: #52CCBA !important;
}
.puzzle-slider-success .puzzle-slider-mask {
  width: 100% !important;
  border: 1px solid #52CCBA;
  background-color: #D2F4EF;
}
.puzzle-slider-success .puzzle-slider {
  display: none;
}
.puzzle-slider-success .puzzle-slider-text {
  color: #52ccba;
  position: relative;
}
 
.puzzle-slider-fail .puzzle-slider {
  border: 1px solid #f57a7a;
  background-color: #f57a7a !important;
}
.puzzle-slider-fail .puzzle-slider-mask {
  border: 1px solid #f57a7a;
  background-color: #fce1e1;
}

.puzzle-slider-start .puzzle-slider-mask {
  border: 1px solid #1991FA;
  background: #D1E9FE;
}

.puzzle-tip {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  opacity: 0;
}
.puzzle-tip.success {
  color: #13d4b7;
  opacity: 1;
}
.puzzle-tip.fail {
  color: #f00;
  opacity: 1;
}
 
.puzzle-slider-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
}
 
.puzzle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: move;
  transition: background .1s linear;
}
 
.puzzle-slider:hover {
  background: #1991FA;
}
 
.puzzle-slider:hover .puzzle-slider-icon {
  filter: contrast(100);
}
 
.puzzle-slider-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
}
 
.puzzle-refresh {
  position: absolute;
  right: 0;
  top: 10px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-size: 34px 471px;
  z-index: 9;
}
.puzzle-refresh:active {
  opacity: 0.5;
}
